
#content{
    position: relative;
    top: 100px;
    background-color: #ffffff;
    width: 960px;
    padding: 20px;
    margin: 0 auto;  
    min-height: calc(100vh - 70px);
    z-index: 0;
    border: 1px solid #777777;
}  


body {
    background-color: teal;
    background-image: url(../images/chevron.png);
    font-family: 'Arial','Helvetica Neue', 'Helvetica', 'sans-serif';
    height: 100%;
    margin: 0;
    color: #777777;
    

}

#nametag{
    position: fixed;
    display: block;
    float: left;
    top: 0px;
    left: 30px;
    height: 45px;
    margin-bottom: 10px;
    width: auto;
    padding: 20px 20px;
    border:2px solid #ffffff;
    background-color: teal;
    color: #ffffff;
    z-index: 2;
    text-align: center;
}
#header{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    width: 100%;
    text-align: right;
    border: 1px solid #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    z-index: 1;
}
ul{
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 1;
}
li{
    float: right;
}
li a{
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
}
li a:hover{
    background-color: teal;
    color: white;
}
h1 {
    border-bottom: 2px solid teal;
}
.footer, .push {
    height: 50px;
   
}
footer {
    position: fixed;
    bottom: 0;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    color: #777777;
    z-index: 12; 
    width: 100%;
    text-align: center;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -50px;

}

#profile {
    float: left;
    margin: 10px;
}